*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background-color: blue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: white;
}

.btn-grid{
 display: grid;
 grid-template-columns: repeat(2, auto);
 gap: 10px;
margin: 20px 0;
}


.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.start-btn{
    background-color: green;
    color: white;
    padding: 100px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;

}


.hide{
    display: none;
}